<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org" xmlns:data="http://www.w3.org/1999/xhtml">
    <head>
        <title>UPLOAD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    </head>
    <body>
        <br>
        <h1 class="text-center">All Uploads
            <a href="http://localhost:8080" class="btn btn-danger text-right">Home</a>
        </h1>
        <div class="row">
            <div class="col-md-3" th:each="img:${images}">
                <img id="ItemPreview" src="">
                <div class="container">
                    <p th:text="${img.name}"></p>
                    <p th:text="${img.type}"></p>
                    <img th:src="${img.base64Img}" style="max-height: 110px">
                </div>
            </div>
        </div>
    </body>
</html>

